/* === Base changes === */
/* Shades of red; based on my own theme, "Shinka",
...where the colors themselves are from Reasonable Colors. */
.theme-light {
  --text-accent:#de0051;
  --interactive-accent: #de0051;
  --text-accent-hover: #ff426c;
  --interactive-accent-hover: #ff426c;
  --color-accent-dark: #de0051;
}

.theme-dark {
  --text-accent: #FF4647;
  --interactive-accent: #FF4647;
  --text-accent-hover: #FF6061;
  --interactive-accent-hover: #FF6061;
  --color-accent-dark: #FF4647;
}

.markdown-preview-view .internal-link,
.markdown-source-view.mod-cm6 .cm-hmd-internal-link span.cm-underline {
  text-decoration: none;
}

/* Remove forced collapse icons from lists. */
.list-collapse-indicator.collapse-indicator.collapse-icon {
  display: none;
}

/* Red waves */
.workspace:before {
  background-image: url('data:image/svg+xml;charset=utf8,%20%20%20 %3Csvg data-name%3D"Layer 1" xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox%3D"0 0 1200 120" preserveAspectRatio%3D"none"%3E%0A%20%20%20%20%20%20%20 %3Cpath fill%3D"%23e0002b" d%3D"M0%2C0V46.29c47.79%2C22.2%2C103.59%2C32.17%2C158%2C28%2C70.36-5.37%2C136.33-33.31%2C206.8-37.5C438.64%2C32.43%2C512.34%2C53.67%2C583%2C72.05c69.27%2C18%2C138.3%2C24.88%2C209.4%2C13.08%2C36.15-6%2C69.85-17.84%2C104.45-29.34C989.49%2C25%2C1113-14.29%2C1200%2C52.47V0Z" opacity%3D".1" class%3D"shape-fill"%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20 %3Cpath fill%3D"%23FF4647" d%3D"M0%2C0V15.81C13%2C36.92%2C27.64%2C56.86%2C47.69%2C72.05%2C99.41%2C111.27%2C165%2C111%2C224.58%2C91.58c31.15-10.15%2C60.09-26.07%2C89.67-39.8%2C40.92-19%2C84.73-46%2C130.83-49.67%2C36.26-2.85%2C70.9%2C9.42%2C98.6%2C31.56%2C31.77%2C25.39%2C62.32%2C62%2C103.63%2C73%2C40.44%2C10.79%2C81.35-6.69%2C119.13-24.28s75.16-39%2C116.92-43.05c59.73-5.85%2C113.28%2C22.88%2C168.9%2C38.84%2C30.2%2C8.66%2C59%2C6.17%2C87.09-7.5%2C22.43-10.89%2C48-26.93%2C60.65-49.24V0Z" opacity%3D".2" class%3D"shape-fill"%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20 %3Cpath fill%3D"%23de0051" opacity%3D".4" d%3D"M0%2C0V5.63C149.93%2C59%2C314.09%2C71.32%2C475.83%2C42.57c43-7.64%2C84.23-20.12%2C127.61-26.46%2C59-8.63%2C112.48%2C12.24%2C165.56%2C35.4C827.93%2C77.22%2C886%2C95.24%2C951.2%2C90c86.53-7%2C172.46-45.71%2C248.8-84.81V0Z" class%3D"shape-fill"%3E%3C%2Fpath%3E%0A%20%20%20 %3C%2Fsvg%3E');
}

img {
  border-radius: 5px;
}