@charset "UTF-8";
/* === meta ===
...Author: Rachel Veer
...Website: https://publish.obsidian.md/rachelveer/ */
/* Privacy friendly alternative to google fonts. */
@import url(https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,700,400i,700i);
/* === Base changes === */
/* Mostly based on Reasonable Colors. */
.theme-light {
  --text-accent:#de0051; /*raspberry*/
  --interactive-accent: #de0051;
  --text-accent-hover: #ff426c; /* lighter raspberry */
  --interactive-accent-hover: #ff426c;
  --text-highlight-bg: #FFDCE5; /* rose shade 2 */
}

.theme-dark {
  --text-accent: #FF4647; /* red shade 3 for primary accents */
  --interactive-accent: #FF4647;
  --interactive-accent-hover: #FF6061; /* increase red 3 by 10% for hovers */
  --text-accent-hover: #FF6061;
  --text-highlight-bg: #DE0051; /* raspberry shade 4  */
  --background-primary: #222222; /* Reasonable Color grey shade 6 */
}

/* === Fonts === */
/* Atkinson Hyperlegible is preferred, fallback on Obsidian's 
...default font, if all else fails: generic family fonts. */
body {
  font-family: "Atkinson Hyperlegible", "Inter", sans-serif, serif;
  --font-text: "Atkinson Hyperlegible", "Inter", sans-serif, serif;
}

/* === External links === */
a {
  text-decoration: none;
}

/* === Internal links === */
/* No underlines. */
.markdown-preview-view .internal-link,
.markdown-source-view.mod-cm6 .cm-hmd-internal-link span.cm-underline {
  text-decoration: none;
}

/* === Lists === */
/* Disable cutting text of completed items. */
ul > li.task-list-item[data-task=x],
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task=x] {
  text-decoration: none;
  color: var(--text-normal);
}

/* === Images === */
/* Make images fit in with other card-like elements. */
.markdown-source-view img,
.markdown-preview-view img {
  border-radius: 5px;
}

/* === Better highlights === */
/* Underline highlight instead in dark mode. */
.theme-dark .markdown-rendered mark,
.theme-dark .search-result-file-matched-text {
  background: none;
  border-bottom: 2px solid var(--text-highlight-bg);
}

/* === Transclusion ===  */
/* Better embedded titles. */
.markdown-embed-title {
  display: none;
}

/* === Footnotes === */
/* I don't like underlined footnotes markers, these -> [1]. */
a.footnote-link {
  text-decoration: none;
}

/* === Tags === */
/* IGDB inspired tags. */
.markdown-preview-view .tag,
.markdown-rendered .tag:not(.token) {
  text-decoration: none;
  background-color: #858585;
  border-radius: 0.25em;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

/* === External helpers === */
/* Dark mode images  */
/* MIT License | Copyright (c) Stephan Ango (@kepano) */
.theme-dark .markdown-preview-view img {
  opacity: 0.75;
  transition: opacity 0.25s linear;
}

.theme-dark .markdown-preview-view img:hover {
  opacity: 1;
  transition: opacity 0.25s linear;
}

/* === Publish === */
/* Adopt font size from user preferences. */
.published-container .markdown-preview-view {
  font-size: 1rem;
}

/* Hide distracting scrollbar element. */
.theme-light, .theme-dark {
  --scrollbar-bg: transparent;
  --background-primary-alt: var(--background-primary); /* flat color; content is the separation */
}

/* Wider center */
.published-container.is-readable-line-width .site-body-center-column {
  flex: 0 1 830px;
}

/* To not conflict with floating (images/callouts/etc) elements. */
.published-container .backlinks, .embedded-backlinks {
  clear: both;
}

/* Remove useless border. */
.site-body-left-column {
  border-right: none;
}

/* Remove "powered by Obsidian publish" footer. */
.site-footer {
  display: none;
}

/* Hide folders. I don't like folders, but instead of disabling nav,
...I hide it to keep even page length and large image/icon. */
.nav-view-outer {
  display: none;
}

/* === Backlink title === */
/* Remove icon. */
.published-container .backlinks .published-section-header-icon {
  display: none;
}

/* Less distracting title, 
...more in-line with content,
...still noticeable. */
.published-container .backlinks .published-section-header {
  text-transform: none;
  font-weight: normal;
  font-size: 16px;
  margin-left: -4px;
  letter-spacing: 0.75px;
}

/* === meta ===
...Author: Rachel Veer 
...Website: https://publish.obsidian.md/rachelveer/  */
/* === Detailed nested ordered list === */
/* Leave footnotes alone. */
/* Make lists as compact as possible. */
:not(.footnotes) > ol {
  counter-reset: item;
  margin: 0;
  padding: 0;
}

:not(.footnotes) > ol li ol {
  padding-inline-start: 25px;
}

:not(.footnotes) > ol li {
  display: block;
}

:not(.footnotes) > ol li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  padding-right: 5px;
}

/* Remove trailing period from nested numbers (tfwiki). */
/* :not(.footnotes) > ol li > ol li:before {
  content: counters(item, ".") " ";
} */
/* meta
...From https://github.com/SlRvb/Obsidian--ITS-Theme
...simplified and modified by me (Rachel Veer). */
/* === Image alignment === */
/* Center image */
img:is([alt*=ctr], [alt*=center]),
.image-embed[src*="#ctr"] .image-embed[alt*=ctr],
.image-embed[src*="#center"] .image-embed[alt*=center],
.imgctr img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Move left */
body :is(.markdown-source-view, .markdown-preview-view):not(.is-live-preview) img:is([alt*=left]),
body :is(.markdown-source-view, .markdown-preview-view):not(.is-live-preview) .image-embed:is([alt*=left]) {
  float: left;
  margin-right: 2%;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Move right */
body :is(.markdown-source-view, .markdown-preview-view):not(.is-live-preview) img:is([alt*=right]),
body :is(.markdown-source-view, .markdown-preview-view):not(.is-live-preview) .image-embed:is([alt*=right]) {
  float: right;
  margin-left: 2%;
  margin-bottom: 0px;
}

/* === meta ===
...Author: Rachel Veer 
...Website: https://publish.obsidian.md/rachelveer/
...Comment: Styling assumes the infobox will always be to the right. */
/* Responsive to theme */
.theme-light {
  --primary-infobox-accent: var(--text-accent);
  /* --section-background-color: rgb(123, 108, 217); based on Obsidian "interactive-accent-rgb" */
}

.theme-dark {
  --primary-infobox-accent: var(--text-accent);
  /* --section-background-color: rgb(72, 54, 153); based on Obsidian "interactive-accent-rgb" */
  --infobox-line-color: #ddd;
}

/* === My Infobox custom Callout === */
.callout[data-callout=infobox] {
  margin-left: 8px; /* Better spacing from text. */
  border-radius: 8px;
  border: none; /* shadows over borders */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* shadow for cards */
  float: right;
  width: 100%;
  max-width: 18rem;
  margin-top: 2px; /* Bring it as close to H1 as possible. */
  font-size: 1rem;
}

.callout[data-callout=infobox][data-callout-metadata=left] {
  float: left;
  margin-left: 0;
  margin-right: 8px;
}

.callout[data-callout=infobox][data-callout-metadata=center] {
  float: none;
  display: block;
  margin: auto;
}

/* Originally inspired by NFS wiki (#383838) */
/* Now using Reasonable Color grey shade 5  */
.theme-dark .callout[data-callout=infobox] {
  background-color: #3e3e3e;
}

/* === Title & Icons === */
/* Remove any icons; even "invisbile" ones */
/* (space freed up after setting this, even though */
/* no visible icon was present). */
.callout[data-callout=infobox] .callout-title .callout-icon {
  display: none;
}

/* Center title */
.callout[data-callout=infobox] .callout-title {
  padding: 5px 10px;
  background-color: transparent; /* Less distracting title; no color */
  text-align: center;
  font-size: 110%;
  font-style: italic;
  border-radius: 8px 8px 0px 0px; /* fall in line with overall shape, otherwise it overlaps */
}

/* Vertically align callout fold better. */
.callout[data-callout=infobox].is-collapsed .callout-fold {
  padding-top: 2px;
}

/* === Content Meta === */
/* Compact infobox content. */
.callout[data-callout=infobox] p,
.callout[data-callout=infobox] h3 {
  margin: 0;
  padding-left: 2px; /* we don't want text touching border */
}

/* While content is left, center images. */
.callout[data-callout=infobox] .internal-embed,
.callout[data-callout=infobox] img {
  text-align: center;
  border-radius: 2px; /* more subtle radius on images in infoboxes */
  margin: 0 -1px; /* negative margins trick to escape padding */
}

/* H2 headers act as our sections. */
.callout[data-callout=infobox] .callout-content h2 {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  /* justify-content: center; Center as Flex */
  text-align: center;
  /* background: var(--primary-infobox-accent); */
  /* border-radius: 2px; */
  width: 100%;
  color: var(--primary-infobox-accent);
  border-top: 2px solid #ddd;
}

.theme-dark .callout[data-callout=infobox] .callout-content h2 {
  border-top: 2px solid #6f6f6f; /* Reasonable color shade 4 */
}

/* === Simplified Infobox ===  */
/* Compact size and color text. */
.markdown-preview-view .callout[data-callout=infobox] h3 {
  font-size: 1rem;
  /* margin: 0 2px; */
  color: var(--primary-infobox-accent);
}

/* === Infobox using Tables; spacing & misc === */
/* Tables! */
.callout[data-callout=infobox] table {
  margin: 0;
}

/* Remove unused "title" table cell. */
.callout[data-callout=infobox] .callout-content > table th {
  display: none;
}

/* Better compact content.*/
.callout[data-callout=infobox] .callout-content {
  padding: 5px 2px; /* If 0, it makes table inside scrollable - undesired behavior.*/
}

/* Keep text aligned and compact in cells. Remove table borders. */
.callout[data-callout=infobox] table :is(td, tr, th) {
  vertical-align: text-top;
  padding-left: 0%;
  background-color: transparent;
  border-color: transparent;
}

/* == Floats & Position === */
/* Remove float and center infoboxes on small screens. */
@media (max-width: 600px) {
  .callout[data-callout=infobox] {
    float: none;
    margin: auto;
    min-width: 10rem; /* Prevent infobox shrinking too much. */
  }
}
/* Remove float and center infobox in hover previews too. */
.popover .callout[data-callout=infobox] {
  float: none;
  margin: auto;
}

/* Every other major visual element is now responsive to */
/* this callout's presence! Including standard Callouts (:not)! */
.markdown-preview-view :is(blockquote,
.callout:not(.callout[data-callout=infobox])) {
  display: flex;
  flex-direction: column; /* Aligns child elements correctly. */
}

/* continued: */
/* Headers too (not included above because headers */
/* do not like new flex direction. */
.markdown-preview-view :is(h1, h2) {
  display: flex;
}

/* Don't allow transclusions or lines next to infoboxes. */
.markdown-embed:not(.image-embed), .markdown-preview-view hr {
  clear: both;
}

/* === Themes === */
/* Xenomorph theme */
.callout[data-callout=infobox][data-callout-metadata=xeno] {
  --primary-infobox-accent: green;
}

/* Enable borders */
.callout[data-callout=infobox][data-callout-metadata=border],
.callout[data-callout=infobox][data-callout-metadata=borders] {
  border: 2px solid var(--primary-infobox-accent);
  box-shadow: none;
}

/* === meta ===
...Author: Rachel Veer 
...Website: https://publish.obsidian.md/rachelveer/ */
/* === My Table of Contents custom Callout === */
.callout[data-callout=toc] {
  --callout-color: var(--interactive-accent-rgb); /* Let Obsidian handle colors */
  --callout-icon: list; /* TOC icon like NFS wiki. */
  width: fit-content; /* Only make callout as big as section titles; like traditional TOCs, flex responsive */
  /* border: 2px solid rgb(var(--callout-color)); */
  border: none;
  border-radius: 0px;
  font-size: 16px; /* Only one px smaller than body font (17px). */
  background: transparent;
  border-left: 2px solid var(--text-accent);
}

/* === Title & icons === */
/* Center title (dependent on flex edit below). */
.callout[data-callout=toc] .callout-title {
  justify-content: center;
  background-color: transparent;
  border-radius: 8px 8px 0px 0px; /* respect outer card. */
}

/* Icons hug title. */
.callout[data-callout=toc] .callout-title-inner {
  flex: 0 1 auto;
}

/* Better align folding arrow. */
.callout[data-callout=toc].is-collapsed .callout-fold {
  padding-top: 2px;
}

/* Better align custom icon. */
.callout[data-callout=toc].is-collapsed .callout-icon {
  padding-bottom: 2px;
}

.callout[data-callout=toc] .callout-icon {
  color: var(--text-accent);
}

/* === Contents === */
/* Make numbered list more compact in toc callout. */
.callout[data-callout=toc] .callout-content {
  padding: 5px 5px;
}

.callout[data-callout=toc] .callout-content ol {
  padding-inline-start: 25px;
}

/* Remove list indentions from TOCs */
.markdown-rendered.show-indentation-guide .callout[data-callout=toc] ol {
  position: unset;
}

/* Remove float and center infobox in hover previews too. */
.popover .callout[data-callout=toc] {
  float: none;
  margin: auto;
}

/* === meta ===
...Author: SlRvb, edited by Rachel Veer
...link: https://github.com/SlRvb/Obsidian--ITS-Theme/blob/main/S%20-%20Callouts.css */
/*Captions*/
.callout.callout[data-callout~=caption] {
  background: transparent;
  text-align: center;
  box-shadow: none;
  border: 0;
  padding: 0;
  margin: 0;
  /*max-width: 30vh; */
  max-width: 275px;
}

.callout.callout[data-callout~=caption] .callout-title {
  display: none;
}

.callout.callout[data-callout~=caption] p {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--text-faint);
}

.callout.callout[data-callout~=caption][data-callout-metadata=right] {
  float: right;
}

.callout.callout[data-callout~=caption][data-callout-metadata=left] {
  float: left;
}

@media (max-width: 600px) {
  .callout.callout[data-callout~=caption][data-callout-metadata=right],
.callout.callout[data-callout~=caption][data-callout-metadata=left] {
    float: unset;
  }
}
/* === meta ===
...Author: Rachel Veer
...Website: https://publish.obsidian.md/rachelveer 
...Inspired by https://igdb.com */
/* === Subtitle Callout === */
.callout[data-callout=sub] {
  background-color: transparent;
  --callout-color: transparent;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  margin: 0;
}

.callout[data-callout=sub] .callout-title {
  padding: 0;
  gap: 0;
  background-color: transparent;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  opacity: 0.9;
}

.callout[data-callout=sub] .callout-icon {
  display: none;
}

.callout[data-callout=metadata] {
  --callout-color: 158, 158, 158;
  --callout-icon: component;
}

/* === meta === 
...Author: Rachel Veer
...website: https://publish.obsidian.md/rachelveer */
/* === Outliner custom title. === */
.outline::before {
  content: "Contents";
  font-size: 14px;
  letter-spacing: 0.75px;
}

/* === Publish === */
/* Hide original TOC text. */
.published-container .list-item.published-section-header > span {
  display: none;
}

/* Overwrite text with our own. */
.published-container .list-item.published-section-header::after {
  content: "Contents";
  text-transform: none;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  margin-left: -2px; /* better alignmentment */
  letter-spacing: 0.75px;
}

/*=== meta ===
...Author: Rachel Veer (derived from sailKite's code)
...website: https://publish.obsidian.md/rachelveer 
...Inspired by RPCS3 wiki */
/* === Outliner relationship lines === */
/* Tailor line colors to both light/dark mode. */
.theme-light {
  --outliner-lines: rgba(0, 0, 0, 0.08) ;
}

.theme-dark {
  --outliner-lines: rgba(255, 255, 255, 0.08); /* Color from RPCS3 */
}

/* Create lines in outline pane. */
.workspace-leaf-content[data-type=outline] .tree-item-children,
.outline-view .tree-item-children {
  position: relative;
}

.workspace-leaf-content[data-type=outline] .tree-item-children::before,
.outline-view .tree-item-children::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--outliner-lines);
  left: -10.5px;
}

/* === Publish === */
/* No folding icons in publish, 
...shorten space between line and text (padding). */
.outline-view .tree-item-children::before {
  left: 1.5px;
}

/* Color text as normal in light mode, for readability (dark mode is fine). */
.theme-light .outline-view-outer .tree-item-self {
  color: var(--text-normal);
}

/* Color current heading user is on; highlights. */
.outline-view-outer .tree-item-self.mod-active {
  color: var(--text-accent);
  font-weight: normal; /* bold is distracting */
}

.markdown-rendered blockquote {
  background: var(--background-secondary);
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 2px solid var(--text-accent);
  padding: 0px;
  margin: 4px 0px 2px 0px;
}

/* Quote symbol */
.markdown-rendered blockquote::before {
  position: absolute;
  margin-top: -0.3em; /* negative margin trick. */
  content: "“";
  color: var(--text-accent);
  font-size: 20pt;
  font-family: serif;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  padding: 2px 2px;
  width: 10px;
}

/* Publish does not like margin. */
.published-container .markdown-rendered blockquote::before {
  margin-top: 0;
}

/* Pad content, give symbol space. */
.markdown-rendered blockquote p {
  padding: 0px 20px;
}

/* A visual language and set of features; shinka */

/*# sourceMappingURL=publish.css.map */
