/* === Active line highlight === */
/* From Minimal: https://minimal.guide/Home */
.theme-light { --active-line-bg:rgba(0,0,0,0.035); }
.theme-dark { --active-line-bg:rgba(255,255,255,0.04); }

.cm-line.cm-active,
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote.cm-active {
  background-color: var(--active-line-bg);
  box-shadow: -25vw 0px var(--active-line-bg), 25vw 0 var(--active-line-bg); 
}

/* === Backlinks === */
/* Backlink container in note like Obsidian Publish. */
.embedded-backlinks {
  background-color: var(--background-primary-alt);
  border-radius: 6px;
  margin: 30px 0;
  padding: 20px;
}

/* Disable backlinks when editing */
/* Backlines do not seamlessly work in source mode... Obsidian please. */
.markdown-source-view .embedded-backlinks { display: none; }

.embedded-backlinks { clear: both; }