/* === meta ===
...Author: Rachel Veer
...Website: https://publish.obsidian.md/rachelveer/ */

/* Privacy friendly alternative to google fonts. */
@import url(https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,700,400i,700i);

/* === Base changes === */
/* Mostly based on Reasonable Colors. */
.theme-light {
  --text-accent:#de0051; /*raspberry*/
  --interactive-accent: #de0051;
  --text-accent-hover: #ff426c; /* lighter raspberry */
  --interactive-accent-hover: #ff426c;
  --text-highlight-bg: #FFDCE5; /* rose shade 2 */
}

.theme-dark {
  --text-accent: #FF4647; /* red shade 3 for primary accents */
  --interactive-accent: #FF4647;
  --interactive-accent-hover: #FF6061; /* increase red 3 by 10% for hovers */
  --text-accent-hover: #FF6061;
  --text-highlight-bg: #DE0051; /* raspberry shade 4  */
  --background-primary: #222222; /* Reasonable Color grey shade 6 */
}

/* === Fonts === */
/* Atkinson Hyperlegible is preferred, fallback on Obsidian's 
...default font, if all else fails: generic family fonts. */
body {
  font-family: "Atkinson Hyperlegible", "Inter", sans-serif, serif;
  --font-text: "Atkinson Hyperlegible", "Inter", sans-serif, serif;
}

/* === External links === */
a {
    text-decoration: none;
}

/* === Internal links === */
/* No underlines. */
.markdown-preview-view .internal-link,
.markdown-source-view.mod-cm6 .cm-hmd-internal-link span.cm-underline {
  text-decoration: none;
}

/* === Lists === */
/* Disable cutting text of completed items. */
ul > li.task-list-item[data-task=x],
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task=x] {
  text-decoration: none;
  color: var(--text-normal);
}

/* === Images === */
/* Make images fit in with other card-like elements. */
.markdown-source-view img,
.markdown-preview-view img {
  border-radius: 5px;
}

/* === Better highlights === */
/* Underline highlight instead in dark mode. */
.theme-dark .markdown-rendered mark,
.theme-dark .search-result-file-matched-text {
  background: none;
  border-bottom: 2px solid var(--text-highlight-bg);
}

/* === Transclusion ===  */
/* Better embedded titles. */
.markdown-embed-title { display: none; }

/* === Footnotes === */
/* I don't like underlined footnotes markers, these -> [1]. */
a.footnote-link { text-decoration: none; }

/* === Tags === */
/* IGDB inspired tags. */
.markdown-preview-view .tag,
.markdown-rendered .tag:not(.token) {
    text-decoration: none;
    background-color: #858585;
    border-radius: 0.25em;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
} 

/* === External helpers === */
/* Dark mode images  */
/* MIT License | Copyright (c) Stephan Ango (@kepano) */
.theme-dark .markdown-preview-view img {
  opacity: 0.75;
  transition: opacity 0.25s linear;
}

.theme-dark .markdown-preview-view img:hover {
  opacity: 1;
  transition: opacity 0.25s linear;
}