.markdown-rendered blockquote {
  background: var(--background-secondary);
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 2px solid var(--text-accent);
  padding: 0px;
  margin: 4px 0px 2px 0px;
} 

/* Quote symbol */
.markdown-rendered blockquote::before {
  position:absolute;
  margin-top: -.3em; /* negative margin trick. */
  content: '“';
  color: var(--text-accent);
  font-size: 20pt;
  font-family: serif;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  padding: 2px 2px;
  width: 10px;
}

/* Publish does not like margin. */  
.published-container .markdown-rendered blockquote::before {
    margin-top: 0;
}

/* Pad content, give symbol space. */
.markdown-rendered blockquote p {
  padding: 0px 20px; 
}