/* === meta ===
...Author: SlRvb, edited by Rachel Veer
...link: https://github.com/SlRvb/Obsidian--ITS-Theme/blob/main/S%20-%20Callouts.css */

/*Captions*/
.callout.callout[data-callout~=caption] {
  background: transparent;
  text-align: center;
  box-shadow: none;
  border: 0;
  padding: 0;
  margin: 0;
/*max-width: 30vh; */
  max-width: 275px;
}
.callout.callout[data-callout~=caption] .callout-title {
  display: none;
}
.callout.callout[data-callout~=caption] p {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--text-faint);
}


.callout.callout[data-callout~=caption][data-callout-metadata="right"] {
  float: right;
}

.callout.callout[data-callout~=caption][data-callout-metadata="left"] {
  float: left;
}

@media (max-width: 600px) {
  .callout.callout[data-callout~=caption][data-callout-metadata="right"],
  .callout.callout[data-callout~=caption][data-callout-metadata="left"] {
    float: unset;
  }
}