/* === meta ===
...Author: Rachel Veer 
...Website: https://publish.obsidian.md/rachelveer/  */

/* === Detailed nested ordered list === */
/* Leave footnotes alone. */
/* Make lists as compact as possible. */
:not(.footnotes) > ol {
  counter-reset: item;
  margin: 0;
  padding: 0;
}

:not(.footnotes) > ol li ol {
    padding-inline-start: 25px;
}

:not(.footnotes) > ol li {
  display: block;
}

:not(.footnotes) > ol li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  padding-right: 5px;
}

/* Remove trailing period from nested numbers (tfwiki). */
/* :not(.footnotes) > ol li > ol li:before {
  content: counters(item, ".") " ";
} */