/* meta
...From https://github.com/SlRvb/Obsidian--ITS-Theme
...simplified and modified by me (Rachel Veer). */
/* === Image alignment === */
/* Center image */
img:is([alt*="ctr"], [alt*="center"]),
.image-embed[src*="#ctr"] .image-embed[alt*=ctr],
.image-embed[src*="#center"] .image-embed[alt*=center],
.imgctr img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Move left */
body :is(.markdown-source-view, .markdown-preview-view):not(.is-live-preview) img:is([alt*=left]),
body :is(.markdown-source-view, .markdown-preview-view):not(.is-live-preview) .image-embed:is([alt*=left]) {
  float: left;
  margin-right: 2%;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Move right */
body :is(.markdown-source-view, .markdown-preview-view):not(.is-live-preview) img:is([alt*=right]),
body :is(.markdown-source-view, .markdown-preview-view):not(.is-live-preview) .image-embed:is([alt*=right]) {
  float: right;
  margin-left: 2%;
  margin-bottom: 0px;
}