/* === Publish === */
/* Adopt font size from user preferences. */
.published-container .markdown-preview-view {
    font-size: 1rem;
}

/* Hide distracting scrollbar element. */
.theme-light, .theme-dark {
  --scrollbar-bg: transparent;
  --background-primary-alt: var(--background-primary); /* flat color; content is the separation */
}

/* Wider center */
.published-container.is-readable-line-width .site-body-center-column {
  flex: 0 1 830px;
}

/* To not conflict with floating (images/callouts/etc) elements. */
.published-container .backlinks, .embedded-backlinks {
    clear: both;
}

/* Remove useless border. */
.site-body-left-column {
    border-right: none;
}

/* Remove "powered by Obsidian publish" footer. */
.site-footer {
    display: none;
}

/* Hide folders. I don't like folders, but instead of disabling nav,
...I hide it to keep even page length and large image/icon. */
.nav-view-outer {
  display: none;
}

/* === Backlink title === */
/* Remove icon. */
.published-container .backlinks .published-section-header-icon {
  display: none;
}

/* Less distracting title, 
...more in-line with content,
...still noticeable. */
.published-container .backlinks .published-section-header {
  text-transform: none;
  font-weight: normal;
  font-size: 16px;
  margin-left: -4px;
  letter-spacing: 0.75px;
}