/* === meta === 
...Author: Rachel Veer
...website: https://publish.obsidian.md/rachelveer */
/* === Outliner custom title. === */
.outline::before {
  content: "Contents";
  font-size: 14px;
  letter-spacing: 0.75px;
}

/* === Publish === */
/* Hide original TOC text. */
.published-container .list-item.published-section-header > span {
  display: none;
}

/* Overwrite text with our own. */
.published-container .list-item.published-section-header::after {
  content: "Contents";
  text-transform: none;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  margin-left: -2px; /* better alignmentment */
  letter-spacing: 0.75px;
}