/*=== meta ===
...Author: Rachel Veer (derived from sailKite's code)
...website: https://publish.obsidian.md/rachelveer 
...Inspired by RPCS3 wiki */

/* === Outliner relationship lines === */
/* Tailor line colors to both light/dark mode. */ 
.theme-light {
  --outliner-lines: rgba(0, 0, 0, 0.08)
}

.theme-dark {
  --outliner-lines: rgba(255, 255, 255, 0.08); /* Color from RPCS3 */
}

/* Create lines in outline pane. */
.workspace-leaf-content[data-type="outline"] .tree-item-children,
.outline-view .tree-item-children {
  position: relative;
}

.workspace-leaf-content[data-type="outline"] .tree-item-children::before,
.outline-view .tree-item-children::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--outliner-lines);
  left: -10.5px;
}

/* === Publish === */
/* No folding icons in publish, 
...shorten space between line and text (padding). */
.outline-view .tree-item-children::before {
  left: 1.5px;
}

/* Color text as normal in light mode, for readability (dark mode is fine). */
.theme-light .outline-view-outer .tree-item-self {
  color: var(--text-normal);
}

/* Color current heading user is on; highlights. */
.outline-view-outer .tree-item-self.mod-active {
  color: var(--text-accent);
  font-weight: normal; /* bold is distracting */
}