/* === meta ===
...Author: Rachel Veer
...Website: https://publish.obsidian.md/rachelveer 
...Inspired by https://igdb.com */
/* === Subtitle Callout === */
.callout[data-callout="sub"] {
  background-color: transparent;
  --callout-color: transparent;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  margin: 0;
}

.callout[data-callout="sub"] .callout-title {
  padding: 0;
  gap: 0;
  background-color: transparent;
  text-shadow: 0 1px 1px rgb(0 0 0 / 40%);
  opacity: 0.9;
}

.callout[data-callout="sub"] .callout-icon {
  display: none;
}