/* === meta ===
...Author: Rachel Veer 
...Website: https://publish.obsidian.md/rachelveer/ */

/* === My Table of Contents custom Callout === */
.callout[data-callout="toc"] {
  --callout-color: var(--interactive-accent-rgb);  /* Let Obsidian handle colors */
  --callout-icon: list; /* TOC icon like NFS wiki. */
  width: fit-content; /* Only make callout as big as section titles; like traditional TOCs, flex responsive */
  /* border: 2px solid rgb(var(--callout-color)); */
  border: none;
  border-radius: 0px;
  font-size: 16px; /* Only one px smaller than body font (17px). */
  background: transparent;
  border-left: 2px solid var(--text-accent);
}

/* === Title & icons === */
/* Center title (dependent on flex edit below). */
.callout[data-callout="toc"] .callout-title {
  justify-content: center;
  background-color: transparent;
  border-radius: 8px 8px 0px 0px; /* respect outer card. */
}

/* Icons hug title. */
.callout[data-callout="toc"] .callout-title-inner {
  flex: 0 1 auto;
}

/* Better align folding arrow. */
.callout[data-callout="toc"].is-collapsed .callout-fold {
  padding-top: 2px;
}

/* Better align custom icon. */
.callout[data-callout="toc"].is-collapsed .callout-icon {
  padding-bottom: 2px;
}

.callout[data-callout="toc"] .callout-icon {
  color: var(--text-accent);
}

/* === Contents === */
/* Make numbered list more compact in toc callout. */
.callout[data-callout="toc"] .callout-content {
  padding: 5px 5px;
}

.callout[data-callout="toc"] .callout-content ol {
  padding-inline-start: 25px;
}

/* Remove list indentions from TOCs */
.markdown-rendered.show-indentation-guide .callout[data-callout="toc"] ol {
  position:unset;
}

/* Remove float and center infobox in hover previews too. */
.popover .callout[data-callout="toc"] {
  float: none;
  margin: auto;
}